.bodyI{
    font-family:cursive;
    border: groove;
    color: #ff0000;
    padding-left: 20px;
    background-color: #00ffff;
}
.grid img{
    border: solid;
}
.header{
font-style:italic;
font-size: larger;
padding-left: 20px;
background-color: #e9967a;
}
.step{
    border: groove;
    font-size: 0.6cm;
    padding-left: 20px;
    background-color: #7fff00;
}
.grid{
    margin: 10px 10px 10px 10px;
    display: flex;
    flex-wrap: wrap;
}
.origami{
    background-color: #ffd700;
    padding: 10px 40px 50px 40px;
    font-size: 0.6cm;
    width: 310;
}
.animal{
    background-color: #bdb76b;
    padding: 10px 260px 50px 40px;
    font-size: 0.6cm;
    width: 310;
}
.forest{
    background-color: #b8860b;
    padding: 10px 242px 50px 40px;
    font-size: 0.6cm;
    width: 310;
}
.origami img{
    margin-left: 80px;
}
.animal img{
    margin-left: 60px;
}
.forest img{
    margin-left: 50px;
}
a:link{
    color:blue
}
a:visited{
    color:aqua
}
.origami img:hover{
    transform: scale(1.2);
}
.animal img:hover{
    transform: scale(1.2);
}
.forest img:hover{
    transform: scale(1.2);
}
